@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Updock&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DK+Loopet:wght@100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Updock&display=swap');





body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
      font-family: "Kanit", sans-serif;
    }
    .container{
        display: flex;
      flex-direction: column;
        align-items: center;


    }

    .text-rank{
        font-size: 5rem;
        color: #ee9b11;

    }

    .title{
        color: #ee9b11;

    }

    form {
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    form input {
      padding: 10px;
      margin: 10px;
      font-size: 15px;
      height: 20px;
      width: 250px;
      border-radius: 10px;
      background-color: rgb(238, 160, 16);
      border: none;
    }

    button {
      padding: 10px 15px;
      font-size: 1rem;
      color: rgb(49, 49, 49);
      cursor: pointer;
      margin-top: 10px;
      background-color: #ee9b11;
      font-weight: 700;
      border: none;
      border-radius: 20px;
      box-shadow: 6px -6px 0px rgb(249, 213, 4);
      ;
    }

    button:hover{
        background-color: #4e4e4e7c;
        color: rgb(255, 255, 255);
        transition: 0.3s;
        box-shadow: 6px -6px 0px rgba(255, 255, 255, 0.61);
    }

    .rank-logo{
        display: flex;
        gap: 50px;
        padding: 350px 0 0;
        
    }

    #ranking {
      list-style: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 50px;
      margin-top: 20px;
      color: rgba(255, 255, 255, 0.932);
      background-color: rgba(73, 73, 73, 0.349);
      height: 100vh;
      border-radius: 20px;
      text-align: left;

      
    }



    #ranking li {
        font-size: 3rem;
        font-weight: 600;
        margin: 5px 0;
        
    }

    


    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
    
    .background {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #121212;
        overflow: hidden;
        z-index: -1; /* Garante que o fundo fique atrás do conteúdo */
    }
    
    .container {
        position: relative; /* Isso garante que os elementos dentro de .container fiquem em cima do fundo */
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px; /* Para dar espaçamento do topo */
    }
    
    
    .background span {
        width: 3vmin;
        height: 3vmin;
        border-radius: 3vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 4;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    
    .background span:nth-child(0) {
        color: #c8b90e;
        top: 88%;
        left: 82%;
        animation-duration: 457s;
        animation-delay: -345s;
        transform-origin: -4vw 5vh;
        box-shadow: -6vmin 0 1.5859325118615026vmin currentColor;
    }
    .background span:nth-child(1) {
        color: #e2b512;
        top: 3%;
        left: 6%;
        animation-duration: 158s;
        animation-delay: -160s;
        transform-origin: 0vw 20vh;
        box-shadow: -6vmin 0 0.7631546976293517vmin currentColor;
    }
    .background span:nth-child(2) {
        color: #c8b90e;
        top: 35%;
        left: 14%;
        animation-duration: 300s;
        animation-delay: -265s;
        transform-origin: -22vw 25vh;
        box-shadow: 6vmin 0 1.459237247933579vmin currentColor;
    }
    .background span:nth-child(3) {
        color: #c8b90e;
        top: 46%;
        left: 43%;
        animation-duration: 440s;
        animation-delay: -106s;
        transform-origin: -11vw -4vh;
        box-shadow: -6vmin 0 0.8549429436712892vmin currentColor;
    }
    .background span:nth-child(4) {
        color: #c8b90e;
        top: 87%;
        left: 94%;
        animation-duration: 225s;
        animation-delay: -392s;
        transform-origin: 11vw -8vh;
        box-shadow: 6vmin 0 1.3713269811135063vmin currentColor;
    }
    .background span:nth-child(5) {
        color: #e2b512;
        top: 90%;
        left: 80%;
        animation-duration: 111s;
        animation-delay: -216s;
        transform-origin: -16vw -5vh;
        box-shadow: -6vmin 0 1.5303766194276747vmin currentColor;
    }
    .background span:nth-child(6) {
        color: #e2b512;
        top: 34%;
        left: 14%;
        animation-duration: 6s;
        animation-delay: -354s;
        transform-origin: -23vw 7vh;
        box-shadow: -6vmin 0 1.3966181292295243vmin currentColor;
    }
    .background span:nth-child(7) {
        color: #e2b512;
        top: 42%;
        left: 38%;
        animation-duration: 391s;
        animation-delay: -192s;
        transform-origin: 2vw 0vh;
        box-shadow: -6vmin 0 0.8346967563840333vmin currentColor;
    }
    .background span:nth-child(8) {
        color: #c8b90e;
        top: 57%;
        left: 3%;
        animation-duration: 12s;
        animation-delay: -301s;
        transform-origin: -17vw 3vh;
        box-shadow: 6vmin 0 1.1990827145199385vmin currentColor;
    }
    .background span:nth-child(9) {
        color: #e2b512;
        top: 63%;
        left: 33%;
        animation-duration: 167s;
        animation-delay: -350s;
        transform-origin: 18vw -18vh;
        box-shadow: 6vmin 0 1.3681529040921412vmin currentColor;
    }
    .background span:nth-child(10) {
        color: #c8b90e;
        top: 72%;
        left: 33%;
        animation-duration: 380s;
        animation-delay: -161s;
        transform-origin: 4vw -8vh;
        box-shadow: 6vmin 0 1.4729180902791064vmin currentColor;
    }
    .background span:nth-child(11) {
        color: #3f0990;
        top: 14%;
        left: 16%;
        animation-duration: 356s;
        animation-delay: -25s;
        transform-origin: 17vw -16vh;
        box-shadow: -6vmin 0 0.8081771063311223vmin currentColor;
    }
    .background span:nth-child(12) {
        color: #c8b90e;
        top: 89%;
        left: 78%;
        animation-duration: 388s;
        animation-delay: -306s;
        transform-origin: -19vw 11vh;
        box-shadow: 6vmin 0 1.2589239071691463vmin currentColor;
    }
    .background span:nth-child(13) {
        color: #3f0990;
        top: 34%;
        left: 43%;
        animation-duration: 230s;
        animation-delay: -456s;
        transform-origin: -7vw -22vh;
        box-shadow: -6vmin 0 1.482464542996159vmin currentColor;
    }
    .background span:nth-child(14) {
        color: #3f0990;
        top: 26%;
        left: 28%;
        animation-duration: 191s;
        animation-delay: -387s;
        transform-origin: -19vw -5vh;
        box-shadow: 6vmin 0 1.416342358693394vmin currentColor;
    }
    .background span:nth-child(15) {
        color: #3f0990;
        top: 64%;
        left: 71%;
        animation-duration: 348s;
        animation-delay: -273s;
        transform-origin: -13vw 17vh;
        box-shadow: 6vmin 0 1.6155697366057744vmin currentColor;
    }
    .background span:nth-child(16) {
        color: #120476;
        top: 35%;
        left: 6%;
        animation-duration: 89s;
        animation-delay: -370s;
        transform-origin: 24vw 9vh;
        box-shadow: 6vmin 0 1.388837570310393vmin currentColor;
    }
    .background span:nth-child(17) {
        color: #120476;
        top: 11%;
        left: 86%;
        animation-duration: 452s;
        animation-delay: -425s;
        transform-origin: 18vw -6vh;
        box-shadow: -6vmin 0 1.383769521793399vmin currentColor;
    }
    .background span:nth-child(18) {
        color: #c8b90e;
        top: 26%;
        left: 53%;
        animation-duration: 57s;
        animation-delay: -324s;
        transform-origin: 12vw 9vh;
        box-shadow: -6vmin 0 1.4755305840519952vmin currentColor;
    }
    

    .first-place {
        /* Estilos para o primeiro lugar */
        color: gold;
        font-weight: bold;
        border-radius: 20px;
        font-family: "Ubuntu", sans-serif;
        font-size: 60px !important;
        

      }
      
      .second-place {
        /* Estilos para o segundo lugar */
        color: silver;
        font-weight: bold;
        font-family: "Ubuntu", sans-serif;
        font-size: 55px !important;
        
      }

      .third-place {
        /* Estilos para o terceiro lugar */
        color: #974006;
        font-weight: bold;
        font-family: "Ubuntu", sans-serif;
        font-size: 50px !important;
      }

    